<!-- <p>employee works!</p> -->
<div class="card">
    <div class="inner-card flex-col items-center text-center">
        <div class="flex justify-between w-full items-center">
            <h2 class="font-bold mb-2">Employees</h2>
            <div class="flex items-center gap-2">
                <i class="pi pi-search"></i>
                <input autocomplete="nope" class="input" pInputText type="text"
                    #globalSearch
                    (input)="dt.filterGlobal(globalSearch.value , 'contains')"
                    placeholder="Search..." />
                <button class="btn btn-secondary">Refresh</button>
            </div>
        </div>
    </div>
    <div class="list-container">
        <div class="flex">
            <button class="btn btn-create" (click)="openNew()">New</button>
        </div>
        <div class="justify-center mt-1">
            <p-table #dt [value]="employeeList" [columns]="cols" [paginator]="true" [rows]="10" [globalFilterFields]="['name', 'position']"
                [rowHover]="true">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns" [pSortableColumn]="col.field" class="filterSortDiv" pResizableColumn>
                            <div>{{col.header}}
                                <p-sortIcon [field]="col.field"></p-sortIcon>
                                <p-columnFilter *ngIf="col.type === 'text'" type="text" [field]="col.field" display="menu"
                                    class="filterIcon"></p-columnFilter>
                            </div>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-emp let-columns="columns">
                    <tr (dblclick)="edit(emp)">
                        <td *ngFor="let col of columns">
                            <label *ngIf="col.type === 'text'">
                                {{ emp[col.field] }}
                            </label>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
<!-- <p-dialog [(visible)]="dialog" [modal]="true" styleClass="dialog"> -->
<p-dialog #browseDialog [(visible)]="dialog" [style]="{width: '100%', height: '100%'}" class="supplier_dialog"
    header="Empoloyee" [modal]="true" styleClass="p-fluid">
    <div class="">

    </div>
    <ng-template pTemplate="content">
        <div class="p-grid">
            <div>
                <ul>
                    <li *ngFor="let val of langList">
                        {{val}}
                    </li>
                </ul>
            </div>
        </div>

    </ng-template>
</p-dialog>